@use '../../main-styles/variables';

$className: 'card-room';

.#{$className} {
  color: variables.$dark-shade-50;
  background-color: white;
  width: 19.2857rem;
  max-height: 18.3571rem;
  box-shadow: 0rem .7143rem 1.4286rem variables.$dark-shade-5;
  border-radius: .2857rem;

  &__slider {
    display: flex;
    max-height: 10.7857rem;
    overflow: hidden;
    border-radius: .2857rem .2857rem 0 0;
    position: relative;
  }

  &__slider-image {
    width: 100%;
    display: none;

    &_active {
      display: initial;
    }
  }

  &__slider-navigation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 300ms, opacity 300ms;
  }

  &__previous,
  &__next {
    border: none;
    padding: 0rem;
    margin: 0rem;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  &__previous {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }

  &__next {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }

  &__previous-icon,
  &__next-icon {
    color: white;
    margin: 0 auto;
    width: 1.7143rem;
    height: 1.7143rem;
  }

  &__previous-icon {
    transform: rotate(90deg);
  }

  &__next-icon {
    transform: rotate(-90deg);
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__control-panel {
    padding: 0rem;
    margin: 0rem;
    position: absolute;
    display: flex;
    right: 1.0714rem;
    bottom: .7143rem;
    list-style-type: none;
    z-index: 2;
  }

  &__control-panel-item {
    margin-right: .2679rem;

    &:last-child {
      margin-right: initial;
    }
  }

  &__control-panel-button {
    border: none;
    background: none;
    padding: 0rem;
    margin: 0rem;
    cursor: pointer;
    width: .5714rem;
    height: .5714rem;
    border-radius: 50%;
    border: .0714rem solid #FFFFFF;

    &_active {
      background: white;
    }
  }

  &__info {
    display: block;
    text-decoration: none;
    margin: 1.5rem 1.4286rem 1.4286rem;
    padding-bottom: .8571rem;
  }

  &__rating-and-reviews {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    border-bottom: .0714rem solid variables.$dark-shade-10;
    padding-bottom: .6429rem;
  }

  &__rating-and-reviews {
    margin-top: .5714rem;
  }

  &__reviews-count,
  &__reviews-title {
    color: variables.$dark-shade-50;
    line-height: 1.2857rem;
  }

  &__reviews-count {
    font-weight: 700;
  }

  &:hover,
  &_hovered {
    .#{$className}__slider-navigation {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 300ms;
    }
  }

  &_hovered {
    .#{$className}__slider-navigation {
      transition: opacity 0s;
    }
  }
}