@use '../../main-styles/variables';

$className: 'room-price-item';

.#{$className} {
  display: flex;
  align-items: flex-start;

  &__content {
    max-width: 15.7143rem;
    width: 100%;
    line-height: 1.2857rem;
  }

  &__details {
    position: relative;
    right: 0;
    line-height: 0rem;
  }

  &__details-icon {
    padding: 0rem;
    margin: 0rem;
    background: none;
    cursor: pointer;
    width: 1.4286rem;
    height: 1.4286rem;
    color: variables.$dark-shade-25;
    font-size: .8571rem;
    font-weight: 700;
    border: .0714rem solid variables.$dark-shade-25;
    border-radius: 50%;

    &:hover
    + .#{$className}__details-content,
    &:focus
    + .#{$className}__details-content {
      opacity: 1;
      visibility: visible;
      transform: translateY(1.0714rem);
    }
  }

  &__details-content {
    position: absolute;
    font-size: .8571rem;
    line-height: 1rem;
    border: .0714rem solid variables.$dark-shade-50;
    box-shadow: 0rem 0rem .7143rem rgba(0, 0, 0, 0.2);
    padding: .3571rem .3571rem .3571rem;
    border-radius: .2143rem;
    transition: opacity 0.4s, visibility 0.4s, transform 0.4s;  
    transform: translateY(1.4286rem);
    opacity: 0;
    visibility: hidden;
    min-width: 7.1429rem;
    background-color: white;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      width: .7143rem;
      height: .7143rem;
      background-color: white;
      border-left: .0714rem solid variables.$dark-shade-50;
      border-top: .0714rem solid variables.$dark-shade-50;
      transform: translateY(-0.4464rem) rotate(45deg);
      top: 0;
    }
  }

  &__price {
    margin-left: auto;
    padding-left: 1.0714rem;
    line-height: 1.2857rem;
  }
}