@use '../../main-styles/variables';

$className: 'pagination';

$pluginName: 'paginationjs';

.#{$className} {
  width: fit-content;
  display: flex;
  flex-direction: column;

  &__pagination-container {
    display: flex;
    justify-content: center;
  }

  .#{$pluginName} {
    &-pages {
      & ul {
        display: flex;
        list-style-type: none;
        margin: 0rem;
        padding: 0rem;
      }

      & li {
        display: flex;
        font-size: .8571rem;
        min-width: 2.8571rem;
        min-height: 2.8571rem;

        @media (max-width: 450px) {
          margin: initial;
          min-width: 2rem;
          min-height: 2rem;
        }
      }

      & a {
        margin: auto;
        color: variables.$dark-shade-50;
        text-decoration: none;
        
        &:hover {
          color: variables.$dark-shade-25;
        }
      }
    }

    &-page {
      cursor: pointer;

      &.active {
        border-radius: 50%;
        background-image: variables.$primary-gradient;
        
        & a {
          color: white;
          font-weight: 700;
        }
      }
    }

    &-prev,
    &-next {
      cursor: pointer;
      border-radius: 50%;
      background-image: variables.$secondary-gradient;

      & a {
        color: white;

        &::before {
          vertical-align: middle;
          font-family: 'Material Icons', Arial, sans-serif;
          font-size: 1.7143rem;
          line-height: 1.4571rem;

          @media (max-width: 450px) {
            font-size: 1.1429rem;
          }
        }
      }
    }

    &-prev {
      & a::before {
        color: white;
        content: 'arrow_back';
      }
    }

    &-next {
      & a::before {
        color: white;
        content: 'arrow_forward';
      }
    }
  }

  &__pages-info {
    margin: .6429rem auto 0;
    color: variables.$dark-shade-75;
    font-size: 1rem;
    line-height: 1.7143rem;
  }
}
