$className: 'room-label';

.#{$className} {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__number {
    font-weight: 700;
    color: $dark-shade-100;
  }

  &__number-sign {
    line-height: 1.6543rem;
  }
  
  &__number-value {
    line-height: 1.2193rem;
    font-size: 1.3571rem;
  }

  &__luxe {
    font-size: .8571rem;
    line-height: 1.0714rem;
    color: $purple;
    text-transform: uppercase;
    font-weight: 700;
    vertical-align: middle;
    margin-left: .5714rem;
  }

  &__price-value,
  &__duration {
    line-height: 1.2857rem;
    color: $dark-shade-50;
  }

  &__price-value {
    font-weight: 700;
  }

  &__duration {
    font-size: .8571rem;
  }

  &_theme-reservation {
    .#{$className} {
      &__number-value {
        font-size: 1.7143rem;
        line-height: 2.09rem;
      }
  
      &__luxe {
        margin-left: .6429rem;
      }
    }
  }
}