$className: 'rate-button';

.#{$className} {
  display: flex;

  &__icon {
    max-width: toRem(24);

    &::before {
      font-size: toRem(24);
      font-family: 'Material Icons', Arial, sans-serif;
      content: 'star_border';
      background: $primary-gradient;
      background-clip: text;
      color: transparent;
    }

    &_checked {
      &::before {
        content: 'star';
      }
    }
  }
}