@use '../../main-styles/variables';

$className: 'landing';

.#{$className} {
	flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  transition: background-image 0.8s;
  padding-top: 5rem;

  &__main {
    padding: 0 9.5714rem 0 10rem;

    @media (max-width: variables.$xs) {
      padding: 0 1.4286rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__description {
    margin-top: 22.6429rem;
    margin-bottom: 1.5rem;
    max-width: 18.5714rem;
    margin-left: auto;
    text-align: right;

    @media (max-width: variables.$xs) {
      margin-left: initial;
      text-align: center;
    }
  }
}