@use '../../main-styles/mixins';


$className: 'card-search';

.#{$className} {
  margin: 2.0714rem;

  @media (max-width: 380px) {
    margin: 2.0714rem .7143rem;
  }

  &__title {
    @include mixins.header1();
    padding-top: .7143rem;
  }

  &__datepicker,
  &__dropdown-guests {
    margin-top: 1.5714rem;
  }

  &__search-room-button {
    margin-top: 2.2857rem;
  }
}