@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'search-room-filter';

.#{$className} {
	flex-grow: 1;
  border-bottom: .0714rem solid variables.$dark-shade-25;

  &__body {
    padding: 2.1429rem 10rem 5.0714rem;
    display: flex;
    justify-content: space-between;
    gap: 1.4286rem;

    @media (max-width: variables.$xs) {
      flex-direction: column;
    }

    @media (max-width: variables.$sm) {
      padding: 2.1429rem .7143rem 5.0714rem;
    }
  }

  &__rooms-filtered {
    max-width: 79.8571rem;
    flex: 3 3 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 1;

    @media (max-width: 1721px) {
      max-width: 59.5714rem;
    }

    @media (max-width: 1400px) {
      align-items: center;
    }
  }

  &__title {
    @include mixins.header1();
  }

  &__card-rooms {
    margin-top: 1.5357rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.4643rem .8571rem;
  }

  &__pagination {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    padding-right: 1.1429rem;

    @media (max-width: 1400px) {
      padding-right: initial;
    }
  }

  &__rooms-options {
    margin-top: .0714rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    order: 0;

    @media (max-width: variables.$xs) {
      align-items: center;
    }
  }

  &__guests-dropdown {
    margin-top: 1.5714rem;
  }

  &__price-range {
    margin-top: 2.2143rem;
  }

  &__rules {
    margin-top: 2.2143rem;
  }

  &__availability {
    margin-top: 2.3571rem;
  }

  &__comforts-dropdown {
    margin-top: 2.1429rem;
  }

  &__comforts-additional-expander {
    margin-top: 1.7143rem;
  }
}