@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'counter-item';

.#{$className} {
  display: flex;
  align-items: center;

  &__title {
    @include mixins.header3();
  }

  &__counter {
    display: flex;
    align-items: center;
    margin-left: auto;
    max-width: 6.5714rem;
    width: 100%;
    justify-content: space-between;
  }

  &__value {
    font-size: .8571rem;
    font-weight: 700;
    line-height: 1.045rem;
    color: variables.$dark-shade-100;
  }

  &__decrement,
  &__increment {
    background: none;
    padding: 0rem;
    cursor: pointer;
    width: 2.1429rem;
    height: 2.1429rem;
    border: .0714rem solid variables.$dark-shade-25;
    border-radius: 50%;
    color: variables.$dark-shade-50;
    font-size: 1.2857rem;

    &:hover {
      border-color: variables.$dark-shade-50;
    }
  }

  &__decrement:disabled,
  &__increment:disabled {
    cursor: initial;
    opacity: 0.5;

    &:hover {
      border-color: variables.$dark-shade-25;
    }
  }
}