@use '../../main-styles/variables';

$className: 'sign-in';

.#{$className} {
	flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  transition: background-image 0.8s;
  padding-top: 5rem;

  &__main {
    padding: 0 10rem 0 10rem;

    @media (max-width: variables.$xs) {
      padding: 0 1.4286rem;
    }
  }

  &__card-sign-in {
    display: flex;
    justify-content: center;
    margin: 7.2857rem 0 12.2857rem;
  }
}