$button: 'button';

.#{$button} {
  border: none;
  background-color: initial;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: toRem(12);
  text-transform: uppercase;

  &__body {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__text {
    margin: 0 auto;
	  color: $purple;
  }

  &:hover {
    .#{$button}__text {
     color: $dark-shade-50;
    }
  }

  &_filled, &_bordered {
    border-radius: 22px;
    height: toRem(44);
    width: toRem(99);
  }

  &_bordered {
    border: solid 2px transparent;
    background-image: linear-gradient(white, white), linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
      
    &:hover {
      background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF50 0%, #8BA4F950 100%);

      .#{$button}__text {
        color: $purple;
      }
    }
  }

  &_filled {
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);

    .#{$button}__text {
      color: white;
    }

    &:hover {
      opacity: 0.5;

      .#{$button}__text {
        color: white;
      }
    }
  }

  &_withIcon {
    min-width: toRem(120);
    max-width: toRem(320);
    width: 100%;

    .#{$button}__icon {
      position: absolute;
      width: toRem(24);
      height: toRem(24);
      right: toRem(10);
      color: white;
    }
  }
}