$className: 'button';

.#{$className} {
  display: block;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  font-size: toRem(12);
  line-height: toRem(14.63);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &__body {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__text {
    margin: 0 auto;
	  color: $purple;
  }

  &:hover, &.#{$className}_hovered {
    .#{$className}__text {
     color: $dark-shade-50;
    }
  }

  &_filled,
  &_bordered,
  &_bordered-header,
  &_long,
  &_long-header {
    border-radius: toRem(22);

    .#{$className}__text {
      padding: 0 toRem(17);
    }
  }

  &_filled,
  &_bordered,
  &_long {
    height: toRem(44);
  }

  &_filled,
  &_bordered {
    min-width: toRem(99);
  }

  &_bordered,
  &_bordered-header {
    border: solid toRem(2) transparent;
    background-image: linear-gradient(white, white), $primary-gradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
      
    &:hover, &.#{$className}_hovered {
      background-image: linear-gradient(white, white), $primary-gradient-50;

      .#{$className}__text {
        color: $purple;
      }
    }
  }

  &_filled,
  &_long,
  &_long-header {
    background: $primary-gradient;

    .#{$className}__text {
      color: white;
    }

    &:hover, &.#{$className}_hovered  {
      opacity: 0.5;

      .#{$className}__text {
        color: white;
      }
    }
  }

  &_long {
    max-width: toRem(320);
    width: 100%;
  }

  &_long-header,
  &_bordered-header {
    height: toRem(34);
  }

  &_bordered-header {
    min-width: toRem(87);
    width: 100%;

    @media (min-width: $xl) {
      width: initial;
    }
  }

  &_long-header {
    min-width: toRem(196);
    width: 100%;

    @media (min-width: $xl) {
      width: initial;
    }
  }

  &__icon {
    position: absolute;
    width: toRem(24);
    height: toRem(24);
    right: toRem(10);
    color: white;
  }
}