@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'like-button';

.#{$className} {
  max-width: variables.$medium;

  &__body {
    display: flex;
    align-items: center;
    width: 2.8571rem;
    height: 1.4286rem;
    border: .0714rem solid variables.$dark-shade-25;
    border-radius: .7143rem;
    font-size: .7143rem;
    color: variables.$dark-shade-25;
    transition: border-color 0.2s;
    cursor: pointer;

    &:hover,
    &:focus-within {
      border-color: variables.$purple;
      border-width: .1429rem;
    }
  }

  &__input {
    @include mixins.hideInput;
  }

  &__icon {
    max-height: 1.4286rem;

    &::before {
      font-family: 'Material Icons', Arial, sans-serif;
      content: 'favorite_border';
      line-height: .6429rem;
    }
  }

  &__likes,
  &__icon {
    margin: 0 auto;
    margin-left: .2857rem;
  }

  &__likes {
    line-height: .8571rem;
    margin-right: .7143rem;
  }

  &_checked {
    .#{$className} {
      &__body {
        border-color: variables.$purple;
      }

      &__icon::before {
        content: 'favorite';
        background: variables.$primary-gradient;
        background-clip: text;
        color: transparent;
      }

      &__likes {
        color: variables.$purple;
      }
    }
  }
}