@use '../../main-styles/variables';

$className: 'expander';

.#{$className} {
  max-width: variables.$medium;
  width: 100%;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__expander-button {
    border: none;
    background: none;
    margin-left: auto;
    padding: 0rem .7857rem 0rem 0rem;
    cursor: pointer;

    &::before {
      font-size: 1.7143rem;
      font-family: 'Material Icons', Arial, sans-serif;
      color: variables.$dark-shade-50;
      content: 'expand_more';
    }
  }

  &__body {
    width: 112%;
    position: absolute;
    background-color: white;
    padding: .7857rem 6%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
  }

  &_opened {
    .#{$className} {
      &__body {
        display: initial;
      }

      &__expander-button::before {
        content: 'expand_less';
      }
    }
  }
}