@use '../../main-styles/variables';

$className: 'expander';

.#{$className} {
  max-width: variables.$medium;
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__expander-button {
    border: none;
    background: none;
    margin-left: auto;
    padding: 0rem .7857rem 0rem 0rem;
    cursor: pointer;

    &::before {
      font-size: 1.7143rem;
      font-family: 'Material Icons', Arial, sans-serif;
      color: variables.$dark-shade-50;
      content: 'expand_more';
    }
  }

  &__body {
    display: none;
  }

  &_opened {
    .#{$className} {
      &__header {
        margin-bottom: .7857rem;
      }

      &__body {
        display: initial;
      }

      &__expander-button::before {
        content: 'expand_less';
      }
    }
  }
}