$className: 'container';

.#{$className} {
  max-width: toRem(1160);
  margin: 0 auto;

  @media (max-width: 1440px) {
    max-width: 80%;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    margin: 0 toRem(5);
  }
}