$className: 'navigation-item';

.#{$className} {
  text-decoration: none;
  color: $dark-shade-50;
  position: relative;
  display: block;
  width: fit-content;

  &__header-wrapper {
    align-items: center;
    display: flex;
    cursor: pointer;

    &:hover {
      .#{$className}__content {
        color: $dark-shade-25;
      }
    }
  }

  &__content {
    line-height: toRem(17);
    font-size: toRem(14);
  }

  &__expand-button {
    width: toRem(24);
		height: toRem(24);
    cursor: pointer;

    &::before {
      color: $dark-shade-50;
      font-size: toRem(24);
      font-family: 'Material Icons', Arial, sans-serif;
      content: 'expand_more';
	  }
  }

  &__sub-navigation {
    display: none;
    list-style-type: none;
    background-color: white;
    width: 100%;

    @media (min-width: $xxl) {
      transform: translateY(toRem(24));
      min-width: toRem(250);
      position: absolute;
      top: 0;
      z-index: 2;
      border: toRem(1) solid rgba(0, 0, 0, 0.12);
      border-radius: toRem(2);
      visibility: hidden;
      opacity: 0.0;
      display: initial;
    }
  }

  &__sub-navigation-item {
    padding: toRem(10) 0 0 toRem(10);

    @media (min-width: $xxl) {
      border-bottom: toRem(1) solid rgba(0, 0, 0, 0.12);
      line-height: toRem(17);
      padding: toRem(5);
  
      &:last-child {
        border-bottom: initial;
      }
    }
  }

  &__sub-navigation-item-content {
    text-decoration: none;
    color: $dark-shade-50;

    &:hover {
      color: $dark-shade-25;
    }
  }

  &:hover,
  &:focus-within,
  &__sub-navigation:hover {
    .#{$className} {
      &__sub-navigation {
        visibility: visible;
        opacity: 1.0;
      }
    }
  }

  &_opened {
    .#{$className}__sub-navigation {
      display: initial;
    }
  }

  &_active {
    font-weight: 700;
    color: $dark-shade-75;
  }
}