@use '../../main-styles/variables';

$className: 'color-example';

.#{$className} {
	display: flex;
	align-items: center;

	&__color-block {
		border-radius: .4286rem;
		width: 5rem;
		height: 5rem;

    &_dark-shade-100 {
      background-color: variables.$dark-shade-100;
    }
  
    &_dark-shade-75 {
      background-color: variables.$dark-shade-75;
    }
  
    &_dark-shade-50 {
      background-color: variables.$dark-shade-50;
    }
  
    &_dark-shade-25 {
      background-color: variables.$dark-shade-25;
    }
  
    &_dark-shade-5 {
      background-color: variables.$dark-shade-5;
    }
  
    &_purple {
      background-color: variables.$primary;
    }
  
    &_green {
      background-color: variables.$secondary;
    }
	}

	&__info {
		color: variables.$dark-shade-100;
		font-size: 1.3571rem;
		line-height: 1.985rem;
		display: flex;
		flex-direction: column;
		padding-left: 2.8571rem;
    margin-top: .0714rem;
	}

	&__title {
		font-weight: 700;
	}
}