@use '../../main-styles/variables';

@import 'nouislider/dist/nouislider.css';

$className: 'range-slider';

$noUiSlider: 'noUi';

.#{$className} {
  max-width: variables.$medium;

  &__label {
    margin-bottom: 1.6429rem;
  }

  &__slider {
    max-height: variables.$range-slider-height;
    background-color: white;
    border-color: variables.$dark-shade-25;
    box-shadow: none;

    .#{$noUiSlider} {
      &-connects {
        overflow: initial;
      }

      &-connect {
        background-image: variables.$secondary-gradient;
        height: variables.$range-slider-height;
        top: -0.0714rem;
      }

      &-handle {
        box-shadow: none;
        max-height: .8571rem;
        max-width: .8571rem;
        background-image: variables.$secondary-gradient;
        top: -0.4286rem;
        right: -0.5714rem;
        cursor: pointer;
        box-sizing: content-box;
        border-radius: 50%;
        border: .1429rem solid white;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  &__description {
    font-size: .8571rem;
    line-height: 1rem;
    color: variables.$dark-shade-50;
    margin-top: .9286rem;
  }
}
