@use '../../main-styles/variables';

$className: 'form-elements';

.#{$className} {
  background-color: white;
  
  &__body {
    padding: 4.2143rem 10rem 9.2857rem 10rem;
    margin: 0 .0714rem;
  }

  &__main-elements,
  &__dropdowns,
  &__lists,
  &__room-content {
    display: flex;
    justify-content: space-between;
  }

  &__column-left,
  &__column-right,
  &__column-middle {
    min-width: variables.$big;
  }

  &__column-middle,
  &__column-double {
    margin-left: 3.8571rem;
  }

  &__input-field-hovered,
  &__input-field-masked {
    margin-top: 1.6429rem;
  }

  &__dropdown-default {
    margin-top: 1.5rem;
  }

  &__date-dropdown-double,
  &__date-dropdown-single,
  &__input-field-subscription {
    margin-top: 3rem;
  }

  &__radio-buttons {
    margin-top: 3.0714rem;
  }

  &__label-wrapper {
    margin-bottom: .9286rem;
  }

  &__toggle-switches {
    margin-top: 2.9286rem;
  }

  &__toggle-switch-default {
    margin-top: .7143rem;
  }

  &__like-buttons {
    margin-top: 3.0714rem;
  }

  &__like-buttons-wrapper {
    display: flex;
    column-gap: .7143rem;
    margin-top: 1.0714rem;
  }

  &__rate-buttons {
    margin-top: 2.9286rem;
  }

  &__rate-buttons-wrapper {
    display: flex;
    column-gap: 1.4286rem;
    margin-top: 1.1429rem;
  }

  &__buttons {
    margin-top: 3.1429rem;
  }

  &__buttons-filled {
    margin-top: 1.1429rem;
  }

  &__buttons-bordered {
    margin-top: 2.1429rem;
  }

  &__buttons-default {
    margin-top: 2.2857rem;
  }

  &__button-with-icon {
    margin-top: 2.0714rem;
  }

  &__buttons-filled,
  &__buttons-bordered,
  &__buttons-default {
    display: flex;
    column-gap: 1.4286rem;
  }

  &__pagination {
    margin-top: 2.9286rem;
  }

  &__pagination-wrapper {
    margin-top: 1.0714rem;
  }

  &__dropdowns {
    margin-top: 7.2857rem;
  }

  &__dropdowns &__column-middle {
    min-width: variables.$big;
  }

  &__dropdown-medium-opened {
    margin-top: 1.4286rem;
  }

  &__lists {
    margin-top: 12rem;
  }

  &__expander-opened {
    margin-top: 2.6429rem;
  }

  &__checkbox-list-rich,
  &__bullet-list {
    margin-top: .4286rem;
  }

  &__room-content {
    margin-top: 15.7857rem;
  }

  &__comment {
    margin-top: .7143rem;
    margin-left: 5.1429rem;
  }
}