$className: 'form-elements';

.#{$className} {
  &__body {
    padding-top: toRem(59);
    padding-bottom: toRem(130);
    margin: 0 toRem(1);
  }

  &__main-elements,
  &__dropdowns,
  &__lists,
  &__room-content {
    display: flex;
  }

  &__column-left,
  &__column-right,
  &__column-middle {
    min-width: $big;
  }



  &__column-middle,
  &__column-double {
    margin-left: toRem(126);
    margin-right: auto;
  }


  &__input-field-hovered,
  &__input-field-masked {
    margin-top: toRem(23);
  }

  &__dropdown-default {
    margin-top: toRem(21);
  }

  &__date-dropdown-double,
  &__date-dropdown-single,
  &__input-field-subscription {
    margin-top: toRem(42);
  }

  &__radio-buttons {
    margin-top: toRem(43);
  }

  &__label-wrapper {
    margin-bottom: toRem(13);
  }

  &__toggle-switches {
    margin-top: toRem(41);
  }

  &__toggle-switch-default {
    margin-top: toRem(10);
  }

  &__like-buttons {
    margin-top: toRem(43);
  }

  &__like-buttons-wrapper {
    display: flex;
    column-gap: toRem(10);
    margin-top: toRem(15);
  }

  &__rate-buttons {
    margin-top: toRem(41);
  }

  &__rate-buttons-wrapper {
    display: flex;
    column-gap: toRem(20);
    margin-top: toRem(16);
  }

  &__buttons {
    margin-top: toRem(44);
  }

  &__buttons-filled {
    margin-top: toRem(16);
  }

  &__buttons-bordered {
    margin-top: toRem(30);
  }

  &__buttons-default {
    margin-top: toRem(32);
  }

  &__button-with-icon {
    margin-top: toRem(29);
  }

  &__buttons-filled,
  &__buttons-bordered,
  &__buttons-default {
    display: flex;
    column-gap: toRem(20);
  }

  &__pagination {
    margin-top: toRem(41);
  }

  &__pagination-wrapper {
    margin-top: toRem(15);
  }

  &__dropdowns {
    margin-top: toRem(102);
  }

  &__dropdowns &__column-middle {
    min-width: $big;
  }

  &__dropdown-medium-opened {
    margin-top: toRem(20);
  }

  &__lists {
    margin-top: toRem(168);
  }

  &__expander-opened {
    margin-top: toRem(37);
  }

  &__checkbox-list-rich,
  &__bullet-list {
    margin-top: toRem(6);
  }

  &__room-content {
    margin-top: toRem(101);
  }

  &__comment {
    margin-top: toRem(10);
  }

}