
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: $dark-shade-75;
}

h1, h2, h3 {
  font-weight: 700;
  color: $dark-shade-100;
}

h1 {
  font-size: toRem(24);
}

h2 {
  font-size: toRem(19);
}

h3 {
  font-size: toRem(12);
  text-transform: uppercase;
}