$htmlSize: 14;

@function toRem($value) {
	$remValue: calc($value / $htmlSize) + rem; 
	@return $remValue;
}

$dark-shade-100: rgba(31, 32, 65, 1.0);
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$purple-50: #BC9CFF50;
$green: #6FCF97;

$blue: #8BA4F9;
$blue-50: #8BA4F950;

$purple-blue-gradient: linear-gradient(180deg, $purple 0%, $blue 100%);
$purple-blue-gradient-50: linear-gradient(180deg, $purple-50 0%, $blue-50 100%);

$small: toRem(150);
$medium: toRem(266);
$big: toRem(320);

