@use '../../main-styles/variables';

$className: 'registration';

.#{$className} {
	flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  transition: background-image 0.8s;

  &__main {
    padding: 0 9.5714rem 0 10rem;

    @media (max-width: variables.$xs) {
      padding: 0 1.4286rem;
    }
  }

  &__card-registration {
    display: flex;
    justify-content: center;
    margin: 1.3571rem 0 1.3571rem;
  }
}