$className: 'logo';

.#{$className} {
	display: flex;

  &__icon {
	  width: toRem(105.69);
    height: toRem(40);
  }

  &_ui-kit .#{$className}__icon {
    width: toRem(48);
    height: toRem(48);
  }
}