$className: 'label';

.#{$className} {
	display: flex;

  &__title,
  &__description {
    @include header3();
  }

	&__description {
		margin-left: auto;
		color: $dark-shade-50;
    font-weight: 400;
	}
}