$className: 'label';

.#{$className} {
	line-height: toRem(14.63);
	font-size: toRem(12);
	text-transform: uppercase;
	display: flex;

	&__description {
		margin-left: auto;
		color: $dark-shade-50;
	}
}