@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'label';

.#{$className} {
	display: flex;

  &__title,
  &__description {
    @include mixins.header3();
  }

	&__description {
		margin-left: auto;
		color: variables.$dark-shade-50;
    font-weight: 400;
	}
}