mixin label(vars = {})
  -
    const {
      title = '',
      description = '',
    } = vars

    const className = 'label'
    let classNames = className + ` js-${className}`

  div(class=classNames)
    h3(class=`${className}__title`)= title
    span(class=`${className}__description js-${className}__description`)= description