@use '../../main-styles/variables';

$className: 'layout';

.#{$className} {
  display: flex;
	flex-direction: column;
	min-height: 100vh;
  background-color: white;

  &__main {
    flex: 1 0 auto;
    display: flex;
    box-shadow: 0rem .7143rem 1.4286rem variables.$dark-shade-5;
  }

  &__footer {
    flex: 0 0 auto;
  }
}