$className: 'checkbox-list';

.#{$className} {
  max-width: $medium;

  &__title {
    margin-bottom: 1.1429rem;
  }

  &__list {
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
  }

  &__item {
    margin-bottom: .7143rem;

    &:last-child {
      margin-bottom: initial;
    }
  }
}