$className: 'comment';

.#{$className} {
  &__author {
    display: flex;
  }

  &__avatar {
    max-height: 3.4286rem;
    max-width: 3.4286rem;
    width: 100%;
    border-radius: 50%;
    border: .1429rem solid white;
    filter: drop-shadow(0rem .7143rem 1.4286rem $dark-shade-10);
    margin-right: .7143rem;
  }

  &__name {
    font-weight: 700;
  }

  &__date::first-letter {
    text-transform: capitalize;
  }

  &__body {
    margin-top: .5714rem;
    margin-left: .3571rem;
    display: flex;
  }

  &__like-button {
    margin-right: .9286rem;
    margin-top: .2857rem;
  }

  &__comment {
    margin-top: .1429rem;
    white-space: pre-line;
  }
}