$className: 'index';

.#{$className} {
  background-color: #222222;
  min-height: 100vh;
  padding: 7.1429rem 1.4286rem 0;

  &__main {
    max-width: 35.7143rem;
    margin: 0 auto;
    background-color: $grey;
    padding: 1.7857rem;
    border-radius: 1.0714rem;

  }

  &__ui-kit-title,
  &__website-title,
  &__ui-kit-page,
  &__website-page {
    font-weight: 700;
  }

  &__ui-kit-title,
  &__website-title {
    color: $dark-shade-100;
    font-size: 1.6429rem;
    margin-bottom: 1.4286rem;
  }

  &__ui-kit-pages,
  &__website-pages {
    list-style-type: none;
    padding: 0px;
  }

  &__ui-kit-pages {
    margin-bottom: 2.1429rem;
  }

  &__ui-kit-page,
  &__website-page {
    text-decoration: none;
    color: #EB5C2B;
    font-size: 1.2143rem;

    &:hover,
    &:visited {
      color: #9c3c1c;
    }
  }

  &__ui-kit-page-item,
  &__website-page-item {
    margin-top: .3571rem;
    margin-left: 1.4286rem;
  }
}