@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'radio-button';

.#{$className} {
  max-width: variables.$medium;

  &__body {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__radio-input {
    @include mixins.hideInput;
  }

  &__radio-input:checked
  + &__button {
    border-color: variables.$purple;

    &::after {
      display: block;
    }
  }

  &__radio-input:checked
  ~ &__title {
    color: variables.$dark-shade-75;
  }

  &__radio-input:hover
  + &__button {
    border-width: .1429rem;
  }

  &__radio-input:hover
  ~ &__title {
    color: variables.$dark-shade-100;
  }

  &__button {
    position: relative;
    width: 1.4286rem;
    height: 1.4286rem;
    border-radius: 50%;
    border: .0714rem solid variables.$dark-shade-25;
    box-sizing: border-box;
    margin-right: .7143rem;

    &::after {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      height: .8571rem;
      width: .8571rem;
      background-image: variables.$primary-gradient;
      border-radius: 50%;
      display: none;
    }
  }

  &__title {
    color: variables.$dark-shade-50;
  }
}