$className: 'card';

.#{$className} {
  background-color: white;
  max-width: 27.1429rem;
  width: 100%;
  border: .0714rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0rem 0rem 1.7857rem rgba(0, 0, 0, 0.2);
  border-radius: .2857rem;
}