$className: 'navigation';

.#{$className} {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: toRem(21);

  @media (min-width: $xl) {
    flex-direction: row;
    align-items: center;
  }
}