$className: 'bullet';

.#{$className} {
  max-width: $big;
  display: flex;
  align-items: flex-start;

  &__bullet-wrapper {
    min-height: toRem(21);
    min-width: toRem(21);
    display: flex;
    align-items: center;
  }

  &__bullet {
    height: toRem(10);
    width: toRem(10);
    background-color: $dark-shade-25;
    border-radius: 50%;
    margin-top: toRem(3);
  }

  &__title {
    white-space: pre-line;
  }
}