$className: 'bullet';

.#{$className} {
  max-width: $big;
  display: flex;
  align-items: flex-start;

  &__bullet-wrapper {
    min-height: 1.5rem;
    min-width: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__bullet {
    height: .7143rem;
    width: .7143rem;
    background-color: $dark-shade-25;
    border-radius: 50%;
    margin-top: .2143rem;
  }

  &__title {
    white-space: pre-line;
  }
}