$className: 'toggle-switch';

.#{$className} {
  max-width: $medium;

  &__body {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;

    &:hover {
      .#{$className}__switch {
        border-width: .1429rem;
      } 
    }
  }

  &__switch-input {
    @include hideInput;
  }

  &__switch-input:checked
  + &__switch {
    border-color: $purple;

    &::after {
      background-image: $primary-gradient;
      transform: translateX(1.3571rem);
    }
  }

  &__switch-input:focus
  + &__switch {
    border-width: .1429rem;
  } 

  &__switch {
    position: relative;
    height: 1.4286rem;
    width: 2.8571rem;
    border: .0714rem solid $dark-shade-25;
    border-radius: .7143rem;
    margin-right: .7143rem;

    &::after {
      position: absolute;
      content: '';
      height: .8571rem;
      width: .8571rem;
      background-color: $dark-shade-25;
      border-radius: 50%;
      margin: auto 0;
      left: 9%;
      top: 0;
      bottom: 0;
      transition: transform 0.4s;
    }
  }
}