$className: 'chart-pie';

.#{$className} {
  &__title {
    @include header2();
    margin-left: .2857rem;
  }

  &__body {
    margin-top: 1.3571rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-end;
    justify-content: center;
  }

  &__chart-wrapper {
    position: relative;
  }

  &__chart {
    cursor: pointer;
    max-width: 8.9286rem;
    max-height: 8.9286rem;
  }

  &__reviews-wrapper {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 5rem;
    max-height: 3.5714rem;
    text-align: center;
  }

  &__reviews-value,
  &__reviews-label {
    font-weight: 700;
  }

  &__reviews-value {
    font-size: 1.7143rem;
    line-height: 2.09rem;
  }

  &__reviews-label {
    font-size: .8571rem;
    line-height: 1.0714rem;
    text-transform: uppercase;
  }

  &__legend {
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
  }

  &__legend-item {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    width: fit-content;
  }

  &__bullet-wrapper {
    margin-top: .2143rem;
    height: 1.0714rem;
    width: 1.0714rem;
    display: flex;
    align-items: flex-end;
  }

  &__bullet {
    height: .7143rem;
    width: .7143rem;
    background-color: $dark-shade-25;
    border-radius: 50%;
  }
}