$className: 'header';

.#{$className} {
  background-color: white;
  box-shadow: toRem(0) toRem(10) toRem(20) $dark-shade-5;

  &__body {
    min-height: toRem(70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    padding: 0 toRem(20);

    @media (min-width: $xxl) {
      padding: 0 toRem(140);
    }
  }

  &__menu-button {
    font-size: toRem(24);
    font-family: 'Material Icons', Arial, sans-serif;
    color: $dark-shade-50;
    cursor: pointer;

    &::before {
      content: 'menu';
    }

    @media (min-width: $xxl) {
      display: none;
    }
  }

  &__separator {
    width: toRem(1);
    height: toRem(30);
    background-color: $dark-shade-10;
  }

  &__user-name {
    color: $dark-shade-50;
  }

  &__content,
  &__sign-in {
    display: none;

    @media (min-width: $xxl) {
      align-items: center;
      gap: toRem(20);
      display: flex;
    }
  }

  &__content {
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: toRem(20);
    box-shadow: toRem(0) toRem(20) toRem(20) $dark-shade-5;
    border-top: toRem(1) solid $dark-shade-10;

    @media (min-width: $xxl) {
      position: initial;
      border: initial;
      box-shadow: initial;
      width: initial;
      padding: initial;
    }
  }

  &_opened {
    @media (max-width: $xxl) {
      .#{$className} {
        &__content,
        &__sign-in {
          display: flex;
          flex-direction: column;
          gap: toRem(20);
        }
      }
    }
  }
}