$className: 'header';

.#{$className} {
  background-color: white;
  box-shadow: toRem(0) toRem(10) toRem(20) $dark-shade-5;

  &__body {
    height: toRem(70);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__separator {
    width: toRem(1);
    height: toRem(30);
    background-color: $dark-shade-10;
  }

  &__user-name {
    color: $dark-shade-50;
  }

  &__content,
  &__sign-in {
    align-items: center;
    gap: toRem(20);
    display: flex;
  }
}