$className: 'header';

.#{$className} {
  background-color: white;
  box-shadow: 0rem .7143rem 1.4286rem $dark-shade-5;

  &__body {
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    padding: 0 1.4286rem;

    @media (min-width: $xxl) {
      padding: 0 10rem;
    }
  }

  &__menu-button {
    background: none;
    border: none;
    padding: 0rem;
    margin: 0rem;
    font-size: 1.7143rem;
    font-family: 'Material Icons', Arial, sans-serif;
    color: $dark-shade-50;
    cursor: pointer;

    &::before {
      content: 'menu';
    }

    @media (min-width: $xxl) {
      display: none;
    }
  }

  &__separator {
    width: .0714rem;
    height: 2.1429rem;
    background-color: $dark-shade-10;
  }

  &__user-name {
    color: $dark-shade-50;
  }

  &__content,
  &__sign-in {
    display: none;

    @media (min-width: $xxl) {
      align-items: center;
      gap: 1.4286rem;
      display: flex;
    }
  }

  &__content {
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1.4286rem;
    box-shadow: 0rem 1.4286rem 1.4286rem $dark-shade-5;
    border-top: .0714rem solid $dark-shade-10;

    @media (min-width: $xxl) {
      position: initial;
      border: initial;
      box-shadow: initial;
      width: initial;
      padding: initial;
    }
  }

  &_opened {
    @media (max-width: $xxl) {
      .#{$className} {
        &__content,
        &__sign-in {
          display: flex;
          flex-direction: column;
          gap: 1.4286rem;
        }
      }
    }
  }
}