@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'input-field';

.#{$className} {
	max-width: 22.8571rem;
	width: 100%;
  position: relative;

	&__header {
		margin-bottom: .2857rem;
	}

	&__input {
		border: .0714rem solid variables.$dark-shade-25;
		box-sizing: border-box;
		border-radius: .2857rem;
		height: 3.1429rem;
		width: 100%;
		padding-left: 1rem;
    padding-right: 6.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    color: variables.$dark-shade-75;
    font-size: 1rem;
    line-height: 1.2857rem;

		&:hover,
    &:focus {
			border-color: variables.$dark-shade-50;
			outline: none;
		}

		&::placeholder {
			color: variables.$dark-shade-25;
		 }
	}

	&__button {
    border: none;
    padding: 0rem;
		position: absolute;
    background-color: white;
    z-index: 1;
		right: .7143rem;
    transform: translateY(40%);
		align-self: center;
		color: variables.$dark-shade-50;
		width: 1.7143rem;
		height: 1.7143rem;
    cursor: pointer;

    &::before {
      font-size: 1.7143rem;
      font-family: 'Material Icons', Arial, sans-serif;
	  }

    &_expandable::before {
      content: 'expand_more';
    }

    &_subscribable::before {
      content: 'arrow_forward';
    }

    &_primary {
      @include mixins.iconWithGradient(variables.$primary-gradient);
    }

    &_secondary {
      color: variables.$dark-shade-75;
    } 
  }

	&_hovered {
		.#{$className}__input {
			border-color: variables.$dark-shade-50;
		}
	}

	&_opened {
		.#{$className}__input {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-color: variables.$dark-shade-50;
		}
	}

  &_big {
    max-width: 22.8571rem;
  }

  &_medium {
    max-width: 19rem;
  }

  &_small {
    max-width: 10.7143rem;

    .#{$className}__input {
      padding-right: 2.1429rem;
    }
  }
}

