$className: 'input-field';

.#{$className} {
	max-width: toRem(320);
	min-width: toRem(150);
	width: 100%;

	&__header {
		margin-bottom: toRem(5);
	}

	&__main-field {
		position: relative;
		display: flex;

    &:hover {
      .#{$className}__input {
        border-color: $dark-shade-50;
      }
    }
	}

	&__input {
		border: 1px solid $dark-shade-25;
		box-sizing: border-box;
		border-radius: toRem(4);
		height: toRem(42);
		width: 100%;
		padding-left: toRem(15);
    padding-right: toRem(91);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    color: $dark-shade-75;
    font-size: toRem(14);
    line-height: toRem(18);

		&:hover, &:focus {
			border-color: $dark-shade-50;
			outline: none;

			&::placeholder {
				color: $dark-shade-75;
			}
		}

		&::placeholder {
			color: $dark-shade-25;
		 }
	}

	&__expand-button {
		position: absolute;
		right: toRem(10);
		align-self: center;
		color: $dark-shade-50;
		width: toRem(24);
		height: toRem(24);
	}

	&_hovered, &_expandable {
		.#{$className}__input::placeholder {
			color: $dark-shade-75;
		}
	}

	&_hovered {
		.#{$className}__input {
			border-color: $dark-shade-50;
		}
	}

	&_opened {
		.#{$className}__input {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-color: $dark-shade-50;
		}
	}

  &_big {
    max-width: toRem(320);
  }

  &_medium {
    max-width: toRem(266);
  }

  &_small {
    max-width: toRem(150);

    .#{$className}__input {
      padding-right: initial;
    }
  }
}

