@use '../../main-styles/mixins';
@use '../../main-styles/variables';

@import 'air-datepicker/air-datepicker.css';

$className: 'datepicker';

$airDatepicker: 'air-datepicker';

.#{$className} {
  border: .0714rem solid variables.$dark-shade-25;
  border-radius: .2857rem;
  box-shadow: 0 .7143rem 1.4286rem 0 variables.$dark-shade-5;
  max-width: variables.$medium;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem 1.0714rem 1.0714rem 1.0714rem;

  &__input {
    @include mixins.hideInput();
  }

  &:focus-within {
    border-width: .1429rem;
  }

  .#{$airDatepicker} {
    font-family: Montserrat, Arial, sans-serif;
    color: variables.$dark-shade-50;
    width: 100%;
    border: initial;

    &-nav {
      border: initial;
      padding: 0;
      margin: 0;

      &--action {
        color: variables.$purple;
        font-size: 1.7143rem;
        line-height: 1.4286rem;
      }

      &--title {
        color: variables.$dark-shade-100;
        font-weight: 700;
        font-size: 1.3571rem;
        line-height: 1.6429rem;
      }
    }

    &--pointer {
      display: none;
    }

    &--content {
      padding: initial;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    &-body {
      margin-left: .1429rem;
      padding-left: .3571rem;
      padding-right: .3571rem;  

      &--day-names {
        height: 2.8571rem;
        margin: initial;
      }

      &--day-name {
        text-transform: capitalize;
        color: variables.$purple;
        font-weight: 700;
        font-size: .8571rem;
      }

      &--cells {
        &.-days- {
          grid-auto-rows: 2.8571rem;
        }
      }
    }

    &-cell.-month-,
    &-cell.-year- {
      border: none;

      &.-current-,
      &.-selected-,
      &.-focus- {
        font-weight: 700;
        color: white;
      }

      &.-current- {
        background-image: variables.$secondary-gradient;
      }

      &.-selected- {
        background-image: variables.$primary-gradient;
      }

      &.-focus- {
        background-image: variables.$primary-gradient;
        border: none;
      }
    }

    &-cell.-day- {
      color: variables.$dark-shade-50;
      font-size: .8571rem;
      border: none;

      &.-focus-,
      &.-range-from-,
      &.-range-to-,
      &.-in-range-,
      &.-current-,
      &.-selected- {
        background: none;

        &::after {
          border-radius: 50%;
          content: '';
          position: absolute;
          z-index: -1;
          height: 2.8571rem;
          width: 2.8486rem;
        }
      }

      &.-focus-::after {
        background-color: black;
        opacity: 0.05;
      }

      &.-range-from-,
      &.-range-to-,
      &.-in-range- {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          height: 100%;
          background-image: variables.$primary-gradient;
          opacity: 0.25;
          z-index: -1;
        }
      }

      &.-range-from-,
      &.-range-to- {
        &::before {
          width: 50%; 
        }

        &.-focus- {
          color: white;
          font-weight: 700;

          &::after {
            background-image: variables.$primary-gradient;
          }
        }
      }

      &.-range-from-::before {
          right: 0;
      }

      &.-range-to-::before {
          left: 0;
      }

      &.-in-range- {
        &::before {
          width: 100%;
        }

        &.-focus-::after {
          background: none;
        }
      }

      &.-current-,
      &.-selected-,
      &.-range-to-,
      &.-range-from- {
        color: white;
        font-weight: 700;
        border-radius: 50%;

        &::after {
          background-image: variables.$primary-gradient;
        }
      }

      &.-current-,
      &.-selected-,
      &.-range-to-,
      &.-range-from-,
      &.-range-to- {
        &.-focus-::after {
          opacity: initial;
        }
      }

      &.-current-::after {
        background-image: variables.$secondary-gradient;
      }

      &.-selected- {
        &::after {
          background-image: variables.$primary-gradient;
        }
      }

      &.-selected-.-range-from-.-range-to-.-focus- {
        &::before {
          display: none;
        }
      }

      &.-other-month- {
        color: variables.$dark-shade-25;

        &.-selected-,
        &.-range-to-,
        &.-range-from-,
        &.-current- {
          color: white;
        }
      }
    }
  }

  &__control-panel-wrapper {
    margin-top: .4286rem;
    padding: 0rem .3571rem .2857rem;
  }

  &_big {
    max-width: variables.$big;
  }

  &_medium {
    max-width: variables.$medium;
  }

  &_hidden {
    display: none;
  }
}