$className: 'gallery';

.#{$className} {
  display: flex;
  max-height: toRem(485);

  @media (min-width: ($xxxl + 1)) {
    max-height: initial;
  }

  &__images-primary-wrapper {
    @media (min-width: $xxxl) {
      flex-grow: 2;
    }
  } 

  &__image-primary,
  &__image-secondary-one,
  &__image-secondary-two {
    height: 100%;
    width: 100%;
    flex-grow: 1;
  }

  &__images-secondary-wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $xs) {
      display: flex;
    }

    @media (min-width: $xxxl) {
      flex-grow: 1;
    }
  }
}