@use '../../main-styles/variables';

$className: 'gallery';

.#{$className} {
  display: flex;
  max-height: 34.6429rem;

  @media (min-width: (variables.$xxxl + 1)) {
    max-height: initial;
  }

  &__images-primary-wrapper {
    @media (min-width: variables.$xxxl) {
      flex-grow: 2;
    }
  } 

  &__image-primary,
  &__image-secondary-one,
  &__image-secondary-two {
    height: 100%;
    width: 100%;
    flex-grow: 1;
  }

  &__images-secondary-wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;

    @media (min-width: variables.$xs) {
      display: flex;
    }

    @media (min-width: variables.$xxxl) {
      flex-grow: 1;
    }
  }
}