$className: 'radio-buttons-field';

.#{$className} {
  border: initial;
  max-width: $medium;
  display: flex;

  &__item {
    margin-right: toRem(20);

    &:last-child {
      margin-right: initial;
    }
  }
}