@use '../../main-styles/variables';

$className: 'radio-buttons-field';

.#{$className} {
  border: initial;
  padding: 0rem;
  margin: 0rem;
  max-width: variables.$medium;
  display: flex;

  &__item {
    margin-right: 1.4286rem;

    &:last-child {
      margin-right: initial;
    }
  }
}