@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'checkbox';

.#{$className} {
  max-width: variables.$medium;
  width: fit-content;

  &__body {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    width: fit-content;

    &:hover {
      .#{$className} {
        &__checkmark {
          border-width: .1429rem;
        }
  
        &__title {
          color: variables.$dark-shade-100;
        }

        &__description {
          color: variables.$dark-shade-75;
        }
      }
    }
  }

  &__checkbox-input {
    @include mixins.hideInput;
  }

  &__checkmark {
    position: relative;
    border-radius: .2857rem;
    border: .0714rem solid variables.$dark-shade-25;
    height: variables.$checkbox-size;
    min-width: 1.4286rem;
    margin-right: variables.$checkbox-margin;

    &::after {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 10%;
      content: '';
      height: .5714rem;
      width: .4286rem;
      border-style: solid;
      border-width: .1429rem;
      border-image: variables.$primary-gradient 1;
      border-left: none;
      border-top: none;
      transform: rotate(45deg);
      box-sizing: border-box;
      display: none;
    }
  }

  &__checkbox-input:checked
  + &__checkmark {
    border-color: variables.$purple;

    &::after {
      display: initial;
    }
  }

  &__checkbox-input:focus
  ~ &__checkmark {
    border-width: .1429rem;
  }

  &__checkbox-input:focus
  ~ &__title {
    font-weight: 700;
  }

  &__info {
    display: inline-flex;
    flex-direction: column;
  }

  &__title {
    color: variables.$dark-shade-50;
    line-height: 1.2857rem;
    white-space: pre-wrap;
  }

  &__description {
    margin-top: .5rem;
    color: variables.$dark-shade-50;
    font-size: .8571rem;
    line-height: 1rem;
    white-space: pre-line;
  }

  &_theme_rich {
    .#{$className}__title {
      font-weight: 700;
      color: variables.$dark-shade-75;
    }
  }
}