$className: 'bullet-list';

.#{$className} {
  max-width: $medium;

  &__title {
    margin-bottom: toRem(13);
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-bottom: toRem(10);

    &:last-child {
      margin-bottom: initial;
    }
  }

  &_theme-bigger-title {
    .#{$className}__title {
      margin: 0 0 toRem(18) toRem(21);
    }
  }
}