$className: 'colors-and-type';

.#{$className} {
	padding: 0 toRem(20) 0;
	margin: toRem(67) 0 0 toRem(20);
	&__main {
		display: flex;
	}

	&__color-palette {
		margin-top: toRem(1);
		list-style-type: none;
	}

	&__color-palette-item {
		margin-bottom: toRem(20);

		&:last-child {
			margin-bottom: 0;
		}
	}


	&__text-examples {
		list-style-type: none;
		margin-left: auto;
		margin-right: toRem(28);
	}

	&__text-examples-item {
		display: flex;
		margin-bottom: toRem(51);

		&:last-child {
			margin-bottom: 0;
		}

		&_h1-sample {
			line-height: toRem(29.26);
		}

		&_h2-sample {
			line-height: toRem(23.16);
		}

		&_h3-sample {
			line-height: toRem(14.63);
		}

		&_body-sample {
			line-height: toRem(24);
		}
	}


	&__text-examples-title {
		color: $dark_shade_25;
		text-align: right;
		font-weight: 400;
		min-width: toRem(50);	

		&_header {
			text-transform: uppercase;
		}
	}

	&__text-examples-description {
		margin-left: toRem(30);
		white-space: pre;
	}

}