@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'colors-and-type';

.#{$className} {
  min-height: 100vh;
  background-color: white;

	&__main {
    padding: 4.2857rem 11.2143rem 0 10.7143rem;
		display: flex;
	}

	&__color-palette,
  &__text-examples {
		list-style-type: none;
    margin: 0rem;
    padding: 0rem;
	}

	&__color-palette-item {
		margin-bottom: 1.4286rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text-examples {
    max-width: 32.1429rem;
		margin-left: auto;
	}

	&__text-examples-item {
		display: flex;

		&:last-child {
			margin-bottom: 0;
		}

    &_h1-sample {
      margin-bottom: 3.7143rem;
      
      .#{$className} {
        &__text-examples-title,
        &__text-examples-description {
          margin-top: 0rem;
          @include mixins.header1();
        }
      }
    }

    &_h2-sample {
      margin-bottom: 3.7143rem;

      .#{$className} {
        &__text-examples-title,
        &__text-examples-description {
          @include mixins.header2();
        }
      }
    }

    &_h3-sample {
      margin-bottom: 3.3571rem;

      .#{$className} {
        &__text-examples-title,
        &__text-examples-description {
          @include mixins.header3();
        }
      }
    }

    &_body-sample {
      .#{$className}__text-examples-description {
        color: variables.$dark-shade-75;
      }
    }

    .#{$className} {
      &__text-examples-title {
        color: variables.$dark-shade-25;
        font-weight: 400;
      }

      &__text-examples-description {
        margin-left: 2.1429rem;
      }
    }
	}

	&__text-examples-title {
		color: variables.$dark-shade-25;
		text-align: right;
		font-weight: 400;
		min-width: 3.5714rem;	

		&_header {
			text-transform: uppercase;
		}
	}

	&__text-examples-description {
		white-space: pre-line;
	}
}