extends ../../layout/layout

block vars
  - var title = "Colors-And-Type"

block content
  - let className = "colors-and-type"
  div(class=className)
    a(class=`${className}__logo`, href="/")
      img(width="48px", height="48px", alt="toxin logo", src=require("../../assets/images/logoUIKit.svg"))
    div(class=`${className}__main`)
