$className: 'footer';

.#{$className} {
  background-color: white;
  box-shadow: toRem(0) toRem(10) toRem(20) $dark-shade-5;

  @media (max-width: $xs) {
    min-height: toRem(367);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__body {
    min-height: toRem(372);
    padding: toRem(100) toRem(140) 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: $xxl) {
      flex-direction: column;
      align-items: center;
      gap: toRem(50);
    }

    @media (max-width: $xs) {
      min-height: initial;
      padding: 0 toRem(20);
    }
  }

  &__company-logo {
    @media (max-width: $xs) {
      display: flex;
      justify-content: center;
    }
  }

  &__company,
  &__subscription {
    max-width: toRem(260);
    width: 100%;
  }

  &__company-description {
    margin-top: toRem(17);

    @media (max-width: $xxl) {
      margin: initial;
    }

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__company {
    @media (max-width: $xxl) {
      display: flex;
      max-width: initial;
      align-items: center;
      gap: toRem(20);
      width: initial;
      margin: 0 auto;
    }

    @media (max-width: $xs) {
      margin: 0 auto;
      max-width: initial;
      width: initial;
    }
  }

  &__navigation {
    width: 100%;
    margin-left: toRem(40);
    margin-right: toRem(52);
    margin-top: toRem(5);

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__navigation-blocks,
  &__navigation-block-items {
    list-style-type: none;
  }

  &__navigation-blocks {
    display: flex;
    justify-content: space-between;
  }

  &__navigation-block-item {
    margin-top: toRem(14);

    &:first-child {
      margin-top: toRem(17);
    }
  }

  &__navigation-block {
    max-width: toRem(149);
    width: 100%;
  }

  &__navigation-block-item-content {
    text-decoration: none;
    color: $dark-shade-50;
  }

  &__subscription {
    margin-top: toRem(5);
    display: block;

    @media (max-width: $xxl) {
      display: flex;
      max-width: initial;
      align-items: center;
      gap: toRem(20);
      width: initial;
      margin: 0 auto;
      padding-bottom: toRem(50);
    }

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__subscription-description {
    margin-top: toRem(17);

    @media (max-width: $xxl) {
      margin: initial;
    }
  }

  &__subscription-input {
    margin-top: toRem(19);

    @media (max-width: $xxl) {
      margin: initial;
    }
  }

  &__bottom-wrapper {
    border-top: toRem(1) solid $dark-shade-10;

    @media (max-width: $xs) {
      border: initial;
    }
  }

  &__bottom {
    min-height: toRem(70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 toRem(140);

    @media (max-width: $xs) {
      margin-top: toRem(17);
      min-height: initial;
      gap: toRem(17);
      flex-direction: column;
      padding: 0 toRem(20);
    }
  }

  &_mobile {
    max-width: $xs;
    min-height: toRem(367);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .#{$className} {
      &__company {
        margin: 0 auto;
        max-width: initial;
        width: initial;
      }

      &__body {
        min-height: initial;
        padding: initial;
      }

      &__company-description,
      &__navigation,
      &__subscription {
        display: none;
      }

      &__bottom-wrapper {
        border: initial;
      }

      &__bottom {
        margin-top: toRem(17);
        flex-direction: column;
      }
    }
  }
}