@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'footer';

.#{$className} {
  background-color: white;
  box-shadow: 0rem .7143rem 1.4286rem variables.$dark-shade-5;

  @media (max-width: variables.$sm) {
    min-height: 26.2143rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__body {
    min-height: 26.5714rem;
    padding: 7.1429rem 10rem 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: variables.$xxl) {
      flex-direction: column;
      align-items: center;
      gap: 3.5714rem;
    }

    @media (max-width: variables.$sm) {
      min-height: initial;
      padding: 0 1.4286rem;
    }
  }

  &__company-logo {
    @media (max-width: variables.$sm) {
      display: flex;
      justify-content: center;
    }
  }

  &__company,
  &__subscription {
    max-width: 18.5714rem;
    width: 100%;
  }

  &__company-description {
    margin-top: 1.2143rem;

    @media (max-width: variables.$xxl) {
      margin: initial;
    }

    @media (max-width: variables.$sm) {
      display: none;
    }
  }

  &__company {
    @media (max-width: variables.$xxl) {
      display: flex;
      max-width: initial;
      align-items: center;
      gap: 1.4286rem;
      width: initial;
      margin: 0 auto;
    }

    @media (max-width: variables.$sm) {
      margin: 0 auto;
      max-width: initial;
      width: initial;
    }
  }

  &__navigation {
    width: 100%;
    margin: .3571rem 1.7857rem 0rem 1.0714rem;

    @media (max-width: variables.$sm) {
      display: none;
    }
  }

  &__navigation-blocks,
  &__navigation-block-items {
    list-style-type: none;
  }

  &__navigation-blocks {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: space-around;
  }

  &__navigation-block-title {
    @include mixins.header3();
  }

  &__navigation-block-items {
    padding: 0rem;
    margin: 0rem;
  }

  &__navigation-block-item {
    margin-top: 1rem;

    &:first-child {
      margin-top: 1.2143rem;
    }
  }

  &__navigation-block {
    max-width: 10.6429rem;
    width: 100%;
  }

  &__navigation-block-item-content {
    text-decoration: none;
    color: variables.$dark-shade-50;

    &:hover {
      color: variables.$dark-shade-25;
    }
  }

  &__subscription {
    margin-top: .3571rem;
    display: block;

    @media (max-width: variables.$xxl) {
      display: flex;
      max-width: initial;
      align-items: center;
      gap: 1.4286rem;
      width: initial;
      margin: 0 auto;
      padding-bottom: 3.5714rem;
    }

    @media (max-width: variables.$sm) {
      display: none;
    }
  }

  &__subscription-title {
    @include mixins.header3();
  }

  &__subscription-description {
    margin-top: 1.2143rem;

    @media (max-width: variables.$xxl) {
      margin: initial;
    }
  }

  &__subscription-input {
    margin-top: 1.7143rem;

    @media (max-width: variables.$xxl) {
      margin: initial;
    }
  }

  &__bottom-wrapper {
    border-top: .0714rem solid variables.$dark-shade-10;

    @media (max-width: variables.$sm) {
      border: initial;
    }
  }

  &__bottom {
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;

    @media (max-width: variables.$sm) {
      margin-top: 1.2143rem;
      min-height: initial;
      gap: 1.2143rem;
      flex-direction: column;
      padding: 0 1.4286rem;
    }
  }

  &__copyright {
    text-align: center;
  }

  &_mobile {
    max-width: variables.$xs;
    min-height: 26.2143rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .#{$className} {
      &__company {
        margin: 0 auto;
        max-width: initial;
        width: initial;
      }

      &__body {
        min-height: initial;
        padding: initial;
      }

      &__company-description,
      &__navigation,
      &__subscription {
        display: none;
      }

      &__bottom-wrapper {
        border: initial;
      }

      &__bottom {
        margin-top: 1.2143rem;
        flex-direction: column;
      }
    }
  }
}