$className: 'socials';

.#{$className} {
  display: flex;
  gap: 1.6429rem;
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;

  &__icon {
   font-size: 1.7143rem;
   
   @include iconWithGradient($primary-gradient);
  }
}