@use '../../main-styles/mixins';

$className: 'card-registration';

.#{$className} {
  margin: 2.0714rem;

  &__title {
    @include mixins.header1();
    padding-top: .7143rem;
  }

  &__input-first-name {
    margin-top: 1.5rem;
  }
  
  &__input-last-name {
    margin-top: .7143rem;
  }

  &__input-gender {
    margin-top: .5714rem;
  }

  &__input-birth-date {
    margin-top: 1.6429rem;
  }

  &__input-email {
    margin-top: 1.5rem;
  }

  &__input-password {
    margin-top: .7143rem;
  }

  &__toggle-switch-subscription {
    margin-top: .5714rem;
  }

  &__registration-button {
    margin-top: 1.5714rem;
  }

  &__login {
    margin-top: 2.1429rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__login-content {
    color: black;
  }
}