$className: 'comments';

.#{$className} {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include header2();
  }

  &__counter {
    color: $dark-shade-50;
  }

  &__comments-list {
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
  }

  &__header
  + &__comments-list {
    margin-top: 1.4286rem;
  }

  &__comment {
    margin-top: 1.6429rem;

    &:first-child {
      margin-top: initial;
    }
  }
}