@use './variables';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: variables.$dark-shade-75;
  height: 100%;
  min-width: variables.$big;
  max-width: variables.$fullhd;
  margin: 0 auto;
  background-color: variables.$grey;
}