$dark-shade-100: rgba(31, 32, 65, 1.0);
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.10);
$dark-shade-5: rgba(31, 32, 65, 0.05);

$grey: #F4F4F6;

$purple: #BC9CFF;
$purple-50: #BC9CFF50;

$green: #6FCF97;

$jordy-blue: #8BA4F9;
$jordy-blue-50: #8BA4F950;

$sky-blue: #66D2EA;

$primary-gradient: linear-gradient(180deg, $purple 0%, $jordy-blue 100%);
$primary-gradient-50: linear-gradient(180deg, $purple-50 0%, $jordy-blue-50 100%);

$secondary-gradient: linear-gradient(180deg, $green 0%, $sky-blue 100%);

$small: 150px;
$medium: 266px;
$big: 320px;

$xs: 768px;
$sm: 800px;
$md: 900px;
$lg: 1000px;
$xl: 1120px;
$xxl: 1200px;
$xxxl: 1440px;
$fullhd: 1920px;

$checkbox-size: 20px;
$checkbox-margin: 10px;

$range-slider-height: 6px;