$htmlSize: 14;

@function toRem($value) {
	$remValue: calc($value / $htmlSize); 
	@return $remValue * 1rem;
}

@mixin hideInput() {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
}

@mixin iconWithGradient($gradient-color) {
  background: $gradient-color;
  background-clip: text;
  color: transparent;
}

$dark-shade-100: rgba(31, 32, 65, 1.0);
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.10);
$dark-shade-5: rgba(31, 32, 65, 0.05);

$grey: #F4F4F6;

$purple: #BC9CFF;
$purple-50: #BC9CFF50;
$purple-25: #BC9CFF25;

$green: #6FCF97;

$jordy-blue: #8BA4F9;
$jordy-blue-50: #8BA4F950;
$jordy-blue-25: #8BA4F925;

$sky-blue: #66D2EA;

$primary-gradient: linear-gradient(180deg, $purple 0%, $jordy-blue 100%);
$primary-gradient-50: linear-gradient(180deg, $purple-50 0%, $jordy-blue-50 100%);
$primary-gradient-25: linear-gradient(180deg, $purple-25 0%, $jordy-blue-25 100%);

$secondary-gradient: linear-gradient(180deg, $green 0%, $sky-blue 100%);

$small: toRem(150);
$medium: toRem(266);
$big: toRem(320);

$xs: 768px;
$sm: 800px;
$md: 900px;
$lg: 1000x;
$xl: 1120px;
$xxl: 1200px;
$xxxl: 1440px;
$fullhd: 1920px;

$checkbox-size: toRem(20);
$checkbox-margin: toRem(10);

$range-slider-height: toRem(6);