@use '../../main-styles/mixins';
@use '../../main-styles/variables';

$className: 'room-info';

.#{$className} {
  max-width: 20rem;

  &__title {
    @include mixins.header2();
  }

  &__title
  + &__items {
    margin-top: 1.5rem;
  }

  &__items {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
  }

  &__item {
    border-bottom: .0714rem solid variables.$dark-shade-10;
    margin-bottom: 1.3929rem;
    padding-bottom: .9286rem;

    &:last-child {
      border: none;
      margin: initial;
      padding: initial;
    }
  }

  &_withEndLine {
    .#{$className}__item:last-child {
      border-bottom: .0714rem solid variables.$dark-shade-10;
      margin-bottom: 1.3929rem;
      padding-bottom: .9286rem;
    }
  }
}