$className: 'dropdown-datepicker';

.#{$className} {
  max-width: $medium;
  width: 100%;
  position: relative;

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
  }

  &__input-single {
    width: 100%;
  }

  &__datepicker {
    margin-top: toRem(5);
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: white;
  }

  &_big {
    max-width: $big;
  }

  &_medium {
    max-width: $medium;
  }
}