extends ./layout/layout
include components/color-example/color-example

block vars
  - var title = "Test Page"


block content
  +color-example("green", "aaaaa", "pomogite")
  +color-example("purple", "aaaaa", "pomogite")

