extends ../../layouts/layout-base/layout-base

include ../../components/container/container
include ../../components/label/label

block vars
  -
    const title = "Cards"

block main
  - 
    const className = "cards"

  div(class=`${className} js-${className}`)
    +container
      +label({ title: "test1", description: "test2" })