@use '../../main-styles/variables';

$className: 'cards';

.#{$className} {
  min-height: 100vh;
  background-color: variables.$grey;
  padding-bottom: 7.1429rem;

  &__columns {
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    margin-top: 4.6429rem;
  }

  &__column-left,
  &__column-middle,
  &__column-right {
    max-width: 27.1429rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.8571rem;
  }

  &__column-right {
    max-width: 22.8571rem;
  }

  &__card-reservation {
    margin-top: .1429rem;
  }
}