$className: 'cards';

.#{$className} {
  min-height: 100vh;
  background-color: $grey;
  padding-bottom: toRem(100);

  &__columns {
    padding: 0 toRem(140);
    display: flex;
    gap: toRem(40);
    margin-top: toRem(65);
  }

  &__column-left,
  &__column-middle,
  &__column-right {
    min-width: toRem(380);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(40);
  }

  &__card-reservation {
    margin-top: toRem(2);
  }
}