include ../logo/logo

mixin header-ui-kit(vars = {})
  -
    const {
      theme = "primary",
      logo = {},
    } = vars

    const className = 'header-ui-kit'
    let classNames = className

    const themeClass = {
      primary: '',
      secondary: ` ${className}_theme_secondary`,
    }

    classNames += themeClass[theme]

  header(class=classNames)
    div(class=`${className}__logo`)
      +logo(logo)
