include ../logo/logo

mixin header-ui-kit(vars = {})
  -
    const {
      theme,
      logo  = {},
    } = vars

    const className = 'header-ui-kit'
    let classNames  = className

    const themeClass = {
      secondary: ` ${className}_secondary`,
    }

  if theme
    - classNames += themeClass[theme]

  header(class=classNames)
    div(class=`${className}__logo`)
      +logo(logo)
