include ../logo/logo

mixin header-ui-kit(vars = {})
  -
    const {
      theme = "",
      logo  = {},
    } = vars

    const className = "header-ui-kit"
    let classNames  = className

  if (theme === "secondary")
    - classNames += ` ${className}_secondary`

  header(class=classNames)
    div(class=`${className}__logo`)
      +logo(logo)
