@use '../../main-styles/variables';

$className: 'header-ui-kit';

.#{$className} {
  padding-top: 2.1429rem;
  padding-left: 2.1429rem;

  &_theme_secondary {
    background-color: variables.$neutral;
  }
}