@use '../../main-styles/variables';

$className: 'dropdown-counter';

.#{$className} {
	position: relative;
	min-width: variables.$small;
	width: 100%;

	&__menu {
		position: absolute;
		width: 100%;
		border: .0714rem solid variables.$dark-shade-50;
		border-top-width: 0;
		box-sizing: border-box;
		border-radius: 0 0 .2857rem .2857rem;
		box-shadow: 0 .7143rem 1.4286rem 0 variables.$dark-shade-5;
		display: none;
		z-index: 999;
		background-color: white;
    padding-left: 1rem;
    padding-right: .4286rem;
    padding-bottom: .5714rem;
	}

  &__items {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
  }

  &__item {
    margin-top: .5rem;
    
    &:first-child {
      margin-top: .3571rem;
    }
  }

  &__control-panel-wrapper {
    margin-top: 1.5714rem;
    padding-bottom: .2143rem;
  }

	&_opened {
		.#{$className}__menu {
			display: block;
		}
	}

  &_big {
    max-width: variables.$big;
  }

  &_medium {
    max-width: variables.$medium;
  }
}