$className: 'card-reservation';

.#{$className} {
  margin: 2.0714rem 2.0714rem 2.1429rem;

  &__label {
    padding-top: .7143rem;
  }

  &__dropdown-datepicker {
    margin-top: 1.5rem;
  }

  &__dropdown-guests {
    margin-top: 1.6429rem;
  }

  &__room-price {
    list-style-type: none;
    padding: 0rem;
    margin: 1.4286rem 0rem 0rem;
  }

  &__room-price-item {
    margin-top: 1.0714rem;

    &:first-child {
      margin: initial;
    }
  }

  &__total-price {
    margin-top: 2.1429rem;
    display: flex;
  }

  &__total,
  &__total-price-value {
    color: $dark-shade-100;
    font-weight: 700;
    font-size: 1.3571rem;
    line-height: 1.6429rem;
  }

  &__dots {
    width: 100%;
    max-height: 1.3571rem;
    border-bottom: .0714rem dotted $dark-shade-25;
  }

  &__submit-reservation-button {
    margin-top: 1.5rem;
  }
}